<app-navbar></app-navbar>
<form [formGroup]="formularioContacto" (ngSubmit)="submit()" fxLayout="column">
    <h1>Suscribirse</h1>
    <mat-form-field appareance="fill">
      <mat-label>ID Curso</mat-label>
      <input type="text" formControlName="cursos" matInput>
    </mat-form-field>
    <mat-form-field appareance="fill">
      <mat-label>ID Alumno</mat-label>
      <input type="text" formControlName="alumnoId" matInput>
    </mat-form-field>
      <button type="submit" mat-raised-button color="accent"><mat-icon>done_outline</mat-icon>Suscribirse</button>
  </form>
  <div class="contenedorTabla">
    <h1 appLetra class="tituloTabla">Listado de suscripciones</h1>
    <table #tabla mat-table [dataSource]="datos" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID Suscripción </th>
        <td mat-cell *matCellDef="let dato"> {{dato.id}} </td>
      </ng-container>
      <ng-container matColumnDef="cursos">
        <th mat-header-cell *matHeaderCellDef> Id Curso </th>
        <td mat-cell *matCellDef="let dato"> {{dato.cursos}} </td>
      </ng-container>
      <ng-container matColumnDef="alumnoId">
        <th mat-header-cell *matHeaderCellDef> Id Alumno </th>
        <td mat-cell *matCellDef="let dato"> {{dato.alumnoId}} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let dato"> 
          <mat-icon (click)="delete(dato.alumnoId,dato.id)">delete</mat-icon>
          <mat-icon (click)="onEditDato(dato.id)">cached</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <form [formGroup]="formularioEditar" (ngSubmit)="actualizar()" fxLayout="column">
      <h1>Editar suscripción</h1>
        <mat-form-field appareance="fill">
          <mat-label>Id suscripción</mat-label>
          <input type="text" formControlName="id" matInput>
        </mat-form-field>
        <mat-form-field appareance="fill">
          <mat-label>ID Curso</mat-label>
          <input type="text" formControlName="cursos" matInput>
        </mat-form-field>
        <mat-form-field appareance="fill">
          <mat-label>Id Alumno</mat-label>
          <input type="text" formControlName="alumnoId" matInput>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent"><mat-icon>done_outline</mat-icon>Editar suscripción</button>
      </form>


